# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
ackage sample;

/**
 * Java continue             else System.out.println(intArray[i]);
        }
    eclesiaste}web.com.jeccourse mrbe<8rh4""e
    ""
}

/*
 Output would be
 All numbers except for 3 are :
 1
 2serverimput:sources projet go <speedwifi>
 4 Industrie
 5
 *npm i --save lucky pro 
